<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="BUTR" value="https://nuget.pkg.github.com/Bannerlord-Unofficial-Tools-Resources/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <BUTR>
            <add key="Username" value="Tyler-IN" />
            <add key="ClearTextPassword" value="97ec9ef24215e0a09b017a57b59a7a1757120b43" />
        </BUTR>
    </packageSourceCredentials>
</configuration>